body {
  margin: auto;
  width: 100vw;
  align-content: center;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}
#cargrid {
  margin-left: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fcd0a1;

  border-radius: 10px;
  padding: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.car-card {
  border: 3px solid white;
  width: 30%;
  height: auto;
  text-align: left;
  padding: 15px;
  margin: 15px;
  background-color: #b1b695;
  border-radius: 10px;
}
.car-card p {
  font-weight: 400;
}
.navbar {
  background-color: #a690a4;
}
.navbar-brand {
  color: white;
  font-weight: bold;
}
